#header {
  grid-column: 1/3;
  grid-row: 1/2;

  margin: 0;
  padding: 1rem;

  background-color: rgb(200, 200, 200);
}

#form {
    grid-column: 1/2;
    grid-row: 2/3;

    size: 100%;

    background-color: rgb(230, 230, 230);

    display: flex;
    flex-direction: column;

    align-items: start;
}

#form > * {
    margin: 0.3rem 10% 0.2rem;
}

textarea {
    resize: none;

    height: 2rem;
}

textarea,
input {
    width: 80%;

    margin: 0.05rem 10% 0.05rem 10%;

    border: 1px solid black;
    border-radius: 3px;
}

input:invalid {
    border-color: rgb(221, 74, 74);
}

#infoTitle {
    width: 80%;

    margin: 1rem 10% 0.5rem 10%;
}

#dateContainer {
    display: flex;
    width: 80%;
}

#dateCol {
    display: flex;
    margin: 0;
    flex-direction: column;

    width: 50%;
}

#dateCol > *{
    text-align: start;
    margin: 0;
}



#resume {
    grid-column: 2/3;
    grid-row: 2/3;

    width: 60%;
    height: 90%;

    margin: 5% 20% 5% 20%;
    padding: 1rem;

    background-color: rgb(230, 230, 230);
}