#root {
  margin: 0;
  padding: 0;
  text-align: center;

  width: 100vw;
  height: 100vh;

  display: grid;

  grid-template-columns: 28vw 1fr;
  grid-template-rows: 5rem 1fr;
}

body {
  margin: 0;
  padding: 0;
}